*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 600px;
    width: 350px;
    background-color: blue;
    border-radius:20px;
    border: 5px black solid;
    box-shadow:10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#displayArea{
    background-color: pink;
    height:30%;
    width:100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#computedResult{
    height: 50%;
    width: 100%;
    background-color: aquamarine;
}

#history{
    height: 20%;
    width: 100%;
    background-color: cadetblue;
}

#buttonArea{
    background-color: yellowgreen;
    height: 70%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonContainer{
    background-color: cadetblue;
    height: 80%;
    width: 95%;
}


#row1,#row2,#row3,#row4,#row5{
    display: flex;
    width: 100%;
    height: 20%;
    background-color:gray;
    border: 2px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


/* this is for the color scheme of the numerical buttons */
.defaultStyle{
    background-color: blueviolet;
    border: 2px black solid;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-weight: bold;
}

.defaultStyle:hover{
    background-color: pink;
}

.defaultStyle:active{
    background-color: palevioletred;
}

/*this is for the color scheme of the non-numerical buttons*/
.specialStyle{
    background-color:orange;
    border: 2px black solid;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-weight: bold;
}

.specialStyle:hover{
    background-color: rgb(246, 222, 177);
}

.specialStyle:active{
    background-color: orangered;
}

#clearDisplay{
    width:100px;
}

#delete{
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete img{
    width: 24px;
}

#result{
    width: 140px;
}

#computedResult,#history{
    display: flex;
    align-items: center;
    justify-content: end;
}

#computedResult{
    font-size: 50px;
    font-weight: bold;
}

#history{
    font-weight: lighter;
}