*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 815px;
    width: 412px;
    background-color: blue;
    border-radius:40px;
    border: 10px black solid;
    box-shadow:  25px 25px rgba(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#displayArea{
    background-color: pink;
    height:30%;
    width:100%;
    border-radius: 40px;
}

#buttonArea{
    background-color: yellowgreen;
    height: 70%;
    width: 100%;
    border-radius: 50px;
}